* {
  box-sizing: border-box !important;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body {
  padding-top: 44px;
  padding-bottom: 44px;
}

@media (min-width: 650px) {
  body>div {
    width: 70%;
    border: 1px solid #ddd;
    border-top: none;
  }
}

@media (min-width: 1000px) {
  body>div {
    width: 50%;
  }
}
